body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #eee;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
  }
  
  #conversation {
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1);
    /* max-width: 600px;
    margin: 0 auto; */
    padding: 20px;
    margin-bottom: 20px;
  }

  #container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .message {
    background-color: #3a3a3a;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #555;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    line-height: 1.5em;
    position: relative;
  }
  
  .bot {
    background-color: #363535;
  }
  
  .user {
    background-color: #555;
  }
  
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #eee;
  }
  
  button {
    width: 20%;
    background-color: #2d642f;
    color: white;
    padding: 14px 20px;
    margin: 10px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2f6832;
  }
  
  .input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2a2a2a;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #555;
  }
  
  .tokens {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
  }